*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    
}

p{
    font-size: 0.7rem;
}

body{
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    background-image: url('./images/bg-intro-desktop.png');
    background-color: rgba(248, 55, 55, 0.762);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px;
    width: 100%;
}
.col1{

}
.col2{
    border: 3px solid transparent;
    background-color: rgb(134, 83, 182);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 5px rgba(84, 55, 55, 0.421);
    width: 350px;
    margin-bottom: 20px;
}

form{
    border: 2px solid transparent;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 5px rgba(84, 55, 55, 0.421);
    width: 350px;
    height: 350px;
}

input{
    border-radius: 5px;
    border: 1px solid rgb(206, 194, 194);
    padding: 10px;
    margin: 5px 25px;
    width: 85%;
    
    
    
}

#submit{
    background-color: rgb(22, 125, 22);
    color: white;
}
#descr{
    color: rgb(128, 115, 115);
    margin: 20px 0px 0px 30px;
    font-size: 8px;
    
}
#fname{
    margin-top: 25px;
}

@media screen and (max-width:600px){
    .container{
        justify-content: center;
        padding: 100px 0;
    }
    .col2{
    width: 350px;
    margin-bottom: 20px;
}
form{
    width: 350px;
    height: 350px;
    
}
.col1{
 font-size: 15px;
 margin-bottom: 50px;
}

.attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }